@model GenresListViewModel
<h2>Список жанров</h2>
<div class="BooksShow">
                <div>
                @foreach (var entity in Model.Genres)
                {
                    <div class="OnceBookElement">
                        <a href="#">@entity.Name</a>
                        <a asp-area="Moderator" asp-controller="Books" asp-action="AddGenre" asp-route-id="@entity.Id">редактировать</a>
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Moderator" asp-controller="Books" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a class="Alert" href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                        </form>
                    </div>
                }
                </div>
            </div>
