@model UsersListViewModel
@{
    TextField textField = ViewBag.TextField;
}
<div>
    <h2>Список пользователей:</h2>
    <ul>
        @foreach (var user in Model.Users)
        {
            @if (user.UserName != "admin" && user.UserName != "moderator")
            {
                <li>
                <p>Электронная почта: @user.Email</p>
                <p>Имя пользователя: @user.UserName</p>
                <a class="glo" asp-area="Admin" asp-controller="UsersShow" asp-action="ShowCurentUser" asp-route-id="@user.Id">Перейти к пользователю</a>
                <hr>
                </li>
            }   
        }
    </ul>
</div>
