@model IQueryable<Book>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<div>
    <a asp-controller="BooksShow" asp-action="SearchByAuthor">Поиск по автору</a>
    <a asp-controller="BooksShow" asp-action="SearchByGenre">Поиск по жанру</a>
<ul class="big-image-list">
    @foreach (Book entity in Model)
    {
        <li>
        <a asp-area="" asp-controller="BooksShow" asp-action="Index" asp-route-id="@entity.Id">
            <img src="~/images/@entity.TitleImagePath" alt="" class="left">
        </a>
        <h4>@entity.Title</h4>
        <p>@entity.SubTitle</p>
        </li>
    }
</ul>
</div>
